@import-normalize; /* bring in normalize.css styles */

/* anek-odia-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Anek Odia';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/anek-odia-v4-latin-regular.eot');
    src: url('./fonts/anek-odia-v4-latin-regular.eot?#iefix')
            format('embedded-opentype'),
        url('./fonts/anek-odia-v4-latin-regular.woff2') format('woff2'),
        url('./fonts/anek-odia-v4-latin-regular.woff') format('woff'),
        url('./fonts/anek-odia-v4-latin-regular.ttf') format('truetype'),
        url('./fonts/anek-odia-v4-latin-regular.svg#AnekOdia') format('svg');
}

/* anek-odia-500 - latin */
@font-face {
    font-display: swap;
    font-family: 'Anek Odia';
    font-style: normal;
    font-weight: 500;
    src: url('./fonts/anek-odia-v4-latin-500.eot');
    src: url('./fonts/anek-odia-v4-latin-500.eot?#iefix')
            format('embedded-opentype'),
        url('./fonts/anek-odia-v4-latin-500.woff2') format('woff2'),
        url('./fonts/anek-odia-v4-latin-500.woff') format('woff'),
        url('./fonts/anek-odia-v4-latin-500.ttf') format('truetype'),
        url('./fonts/anek-odia-v4-latin-500.svg#AnekOdia') format('svg');
}

/* anek-odia-600 - latin */
@font-face {
    font-display: swap;
    font-family: 'Anek Odia';
    font-style: normal;
    font-weight: 600;
    src: url('./fonts/anek-odia-v4-latin-600.eot');
    src: url('./fonts/anek-odia-v4-latin-600.eot?#iefix')
            format('embedded-opentype'),
        url('./fonts/anek-odia-v4-latin-600.woff2') format('woff2'),
        url('./fonts/anek-odia-v4-latin-600.woff') format('woff'),
        url('./fonts/anek-odia-v4-latin-600.ttf') format('truetype'),
        url('./fonts/anek-odia-v4-latin-600.svg#AnekOdia') format('svg');
}

/* anek-odia-700 - latin */
@font-face {
    font-display: swap;
    font-family: 'Anek Odia';
    font-style: normal;
    font-weight: 700;
    src: url('./fonts/anek-odia-v4-latin-700.eot');
    src: url('./fonts/anek-odia-v4-latin-700.eot?#iefix')
            format('embedded-opentype'),
        url('./fonts/anek-odia-v4-latin-700.woff2') format('woff2'),
        url('./fonts/anek-odia-v4-latin-700.woff') format('woff'),
        url('./fonts/anek-odia-v4-latin-700.ttf') format('truetype'),
        url('./fonts/anek-odia-v4-latin-700.svg#AnekOdia') format('svg');
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
